.modal {
  height: 100px;
  width: 300px;
  font-family: var(--font-anton);
  color: rgb(63, 60, 60);
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-bottom: 5px solid rgb(58, 201, 58);
  border-radius: 5px;
  position: fixed;
  bottom: 80px;
  right: 50px;
}

#ok {
  width: 40px;
}
