.section-historia {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-family: "Inter", sans-serif;
}
.titulo-historia-container {
  position: relative;
}
.titulo-historia-container h1 {
  position: relative;
  z-index: 2000;
  font-size: 40px;
  font-family: var(--font-anton);
  letter-spacing: 1.3px;
}
.img-ola {
  position: absolute;
  width: 200px;
  top: -50px;
  left: -50px;
  z-index: 1000;
}
.div-container-historia {
  display: flex;
  gap: 50px;
  font-size: 20px;
}
.img-fundadores {
  width: 400px;
  height: auto;
  box-shadow: -20px -20px 1px rgb(43, 43, 43);
}

.texto-historia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  font-weight: 700;
  width: 500px;
  color: var(--color-gris);
  font-family: var(--font-advent-700);
}

.img-sign {
  width: 250px;
}

.section-informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin-bottom: 100px;
}
.section-informacion h2 {
  text-align: center;
  font-size: 40px;
  font-family: var(--font-anton);
  letter-spacing: 1.3px;
}
.horarios-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 700;
  font-family: var(--font-advent-700);
}
.horarios-container h3 {
  text-align: center;
}
.horario {
  display: flex;
  gap: 30px;
  text-align: center;
}
.tabla-icono {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 800px) {
  .titulo-historia-container h1 {
    font-size: 30px;
  }
  .img-fundadores {
    width: 200px;
  }
  .div-container-historia {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .texto-historia-container {
    width: 90%;
  }
}
