.section-historia{
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-family: "Inter", sans-serif;
}
.titulo-historia-container{
  position: relative;
}
.titulo-historia-container h1{
  position: relative;
  z-index: 2000;
  font-size: 40px;
}
.img-ola {
  position: absolute;
  width: 200px;
  top: -50px;
  left: -50px;
  z-index: 1000;
}
.div-container-historia{
  display: flex;
  gap: 50px;
  font-size: 20px;
  max-width: 900px;
}
.img-fundadores{
  width: 400px;
  height: auto;
  box-shadow: -20px -20px 1px rgb(43, 43, 43);
}

.texto-historia-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.img-sign{
  width: 250px;
}


.section-informacion{
  display: grid;
  grid-template-areas: 
  "titulo titulo"
  "horario ubicacion"
  ;
  gap: 50px;
  justify-content: center;
  font-family: "Inter", sans-serif; 
  margin-bottom: 100px; 
}
.section-informacion h2{
  grid-area: titulo;
  text-align: center;
  font-size: 40px;
}
.horarios-container{
  grid-area: horario;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.horarios-container h3 {
  text-align: center;
}
.horario{
  display: flex;
  gap: 30px;
  text-align: center;
}
.tabla-icono{
  width: 40px;
}
.ubicacion-container{
  grid-area: ubicacion;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}



@media screen and (max-width: 800px) {
  .div-container-historia{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
}