* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-advent-100: "Advent Pro", sans-serif;
  --font-advent-700: "Advent Pro", sans-serif;
  --red-color: rgb(233, 81, 81);
  --drak-red-color: rgb(94, 2, 2);
  --color-gris: rgb(110, 109, 109);
  --gris-claro: rgb(241, 241, 241);
}

a {
  text-decoration: none;
}

.btn {
  position: relative;
  z-index: 3000;
  width: 200px;
  height: 70px;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  border: 2px solid black;
  font-weight: 900;

  transition: background-color 0.5s;
  background-color: transparent;
}
.btn:hover {
  background-color: black;
  color: white;
}
